.aside .logo a::before{
    border-top: 4px solid #1B9CFC;
    /* border-left: 4px solid #1B9CFC; */
}

.aside .logo a::after{
    border-bottom: 4px solid #1B9CFC;
    /* border-right: 4px solid #1B9CFC; */
}

.contact .contact-info-item .icon .fa,
.lightbox .lightbox-control .prev-item .fa,
.lightbox .lightbox-control .next-item .fa,
.gallery .gallery-item .gallery-info .icon .fa,
.portofolio .portofolio-item .portofolio-info .icon .fa,
body.dark .portofolio .portofolio-filter button.active,
.portofolio .portofolio-filter button.active,
body.dark .aside .nav li a:hover,
.aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a.active{
    color: #1B9CFC;
}
.about .about-content .timeline .circle-dot,
.about .about-content .timeline::before, 
.about .about-content .skills .skill-item .progress .progress-in, 
.btn,
.aside .nav-toggler span, 
.aside .nav-toggler span::before, 
.aside .nav-toggler span::after, 
.home .intro .social-link a{
    background-color:  #1B9CFC;
}
.portofolio .portofolio-filter button.active::after{
    content: '';
    display: block;
    border-bottom: 3px solid #1B9CFC;
    width: 30px;
    margin: auto;
    padding-bottom: 5px;
}
